table{
    margin-top:35px;
    margin-left: 23%;  
}

.mat-header-cell{
    background-color: lightgray;
    color: black;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1%;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    
}
.mat-cell {
    padding: 20px;
    table-layout: fixed;
     width: 100px;
    
}

.mat-form-field {
    font-size: 14px;
    width: 50%;
  }