
<!--dropdown-->
  <mat-form-field style="margin-top:35px; margin-left: 23%; ">
      <mat-select placeholder="Select a Studio" 
                  [(value)]="studio" 
                  (selectionChange)="toFilter()">
        <mat-option *ngFor="let s of studios" 
                    [value]="s">
                          {{s}}
        </mat-option>
      </mat-select>
    </mat-form-field>  
    <!--input-->
    <br>
  <mat-form-field style="margin-top:35px; margin-left: 23%; ">
    <textarea matInput placeholder="Filter a Studio"
              [(ngModel)] = "studio" 
              type= "text"
              (keyup) = "filter()">
    </textarea>
  </mat-form-field>  

<!--table--> 
<table mat-table [dataSource]="movies" 
      class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell 
        *matHeaderCellDef> 
          Id 
    </th>
    <td mat-cell 
        *matCellDef="let element"> 
          {{element.id}} 
    </td>
  </ng-container>

  <!-- title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell 
        *matHeaderCellDef>
           Title 
    </th>
    <td mat-cell
       *matCellDef="let element"> 
          {{element.title}} 
    </td>
  </ng-container>

  <!-- studio Column -->
  <ng-container matColumnDef="studio">
    <th mat-header-cell 
        *matHeaderCellDef> 
            Studio 
    </th>
    <td mat-cell
       *matCellDef="let element"> 
          {{element.studio}} 
    </td>
  </ng-container>

  <!-- weekendIncome Column -->
  <ng-container matColumnDef="weekendIncome">
    <th mat-header-cell 
        *matHeaderCellDef> 
            Weekend Income 
    </th>
    <td mat-cell
        *matCellDef="let element"> 
          {{element.weekendIncome}} 
    </td>
  </ng-container>

   <!-- Delet Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell
       *matHeaderCellDef> 
          Delete 
    </th>
    <td mat-cell 
        *matCellDef="let element">
      <button mat-stroked-button 
              color="warn" 
              (click) = "toDelete(element)"> 
                Delete Movie
      </button>
    </td>
  </ng-container>
  

  <tr mat-header-row 
      *matHeaderRowDef="displayedColumns">
  </tr>
  <tr mat-row 
      *matRowDef="let row; columns: displayedColumns;">
  </tr>
</table>
<br>
<br>
<div style = "text-align: center; ">
    The movie you deleted is: <span style=" font-weight: bold;">{{title}}</span> 
</div>


